<% layout("/layouts/boilerplate") %>
<body>
    
  
<div class="container mt-5">
    <div class="alert bor  rounded-pill err" role="alert">
        <div class=" d-flex align-items-center mb-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2 mb-2" viewBox="0 0 16 16" role="img" aria-label="Warning:" style="width: 40px; height: 35px;  fill:#ff3333">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg>
      <h4 class="text-dan fw-lighter">
       <%=message %>
      </h4>
    <!-- </div>
      <p style="color: rgb(201, 12, 12);"></p>
    </div> -->
  </div>
  
</body>
